#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background: url(./img/banner/b17.jpg); */
  background-repeat: no-repeat;
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
#sm-banner .banner-box2 {
  /* background: url(./img/banner/b10.jpg); */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

#sm-banner h4 {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

#sm-banner h2 {
  font-weight: 800;
  font-size: 28px;
  color: #fff;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #sm-banner .banner-box {
    width: 100%;
    height: 30vh;
  min-width: 429px;

  }


}

@media (max-width: 666px) {
  .section-p1 {
    padding: 20px;
  }

  

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0px 20px;
  }

  #banner3 .banner-box {
    margin-top: 20px;

    width: 100%;
  }

  /* .section-p1 {
    padding: 40px 20px;
  } */



}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #sm-banner .banner-box {
    min-width: 50%;
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0px 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  .section-p1 {
    padding: 40px 20px;
  }
}
