#products-header {
  background-image: url("../../Component/img//banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#products-header h2,
#products-header p {
  color: #fff;
}
